@font-face {
  font-family: "myFirstFont";
  src: url("../../fonts/FontsFree-Net-AmpleSoftPro.eb39697f80a0.ttf");
}
body {
  margin: 0 auto;
  font-family: myFirstFont;
  font-size: 18px;
  padding: 0px;
  background-color: rgb(30, 189, 181);
}
h3 {
  color: rgb(243, 243, 243);
  font-weight: 500;
  font-size: 3vw;
}
::placeholder {
  font-size: 1vw;
  text-indent: 10px;
}

input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

.container-reset {
  margin: 0 auto;
  margin-top: 100px;
  width: 50%;
  display: flexbox;
}

button {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  border: none;
}
