{% load static %}
<link rel="stylesheet" href="{% static 'css/includes/footer.css'%}" />

<footer>
  <div class="container-footer">
    <div class="content-footer">
      <div class="content-footer-menu">
        <div class="Central de Atendimento">
          <p>Central de Atendimento:</p>
          <p style="font-size: 1vw">(77) 3628-7499</p>
          <p style="font-size: 1vw">(77) 99984-6579</p>
        </div>
        <div class="FaleConoscoweb">
          <p>Fale Conosco</p>
        </div>
        <div class="FaleConoscoMobile">
          <p style="color: rgb(224, 224, 224)">Fale Conosco</p>
          <p>
            <a
              style="
                text-decoration: none;
                height: 1px;
                color: rgba(0, 89, 83, 1);
                background-color: rgb(224, 224, 224);
                border-radius: 5px;
                padding: 4px;
              "
              href=""
              >Mande uma mensagem</a
            >
          </p>
        </div>
        <div class="Nossoscanais">
          <li><i class="fab fa-facebook-square"></i></li>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-whatsapp"></i></li>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>
        Copyright © 2021 Hospital Silvestre.
        <a href="">Política de Privacidade</a>
        <a href=""> Trabalhe Conosco</a> <a href=""> Fornecedores</a>
        <a href=""> Imprensa</a>
      </p>
    </div>
  </div>
</footer>
