<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/registration/password_reset.css'%}">
</head>
<body>
<div class="container-reset">
    <div class="">
        <h3>Redefinição de senha</h3>

        <p>Esqueceu sua senha? Insira seu endereço de e-mail abaixo e enviaremos instruções para configurar um novo.</p>

        <form method="post">

            {% csrf_token %}
            {{form}}
            <button>Enviar</button>
            
        </form>
    </div>
</div>
</body>
<script>
            var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder='Insira seu email';
</script>
</html>